#page 
    {
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .results 
    {
        display: flex;
        padding: 50px;
        margin:10px;
        align-items: center;
        justify-content: center;
    }

    .text
    {
        width: 3000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 10px;
    }
   
    .form1 
    {
        width: 3000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px;
    }

    .line
    {
        display: flex;
        flex-direction: row;
        width: 70%;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    .input-box
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 0x;
        width: 100%;
    }

    #middle-initial
    {
        flex-grow: 0;
        width: 60px;
    }

    .name
    {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        flex-grow: 1;
    }

    .button
    {
        margin: 20px;
    }
